doctype html

html
	head
		title Gulp + Pug + BrowserSync + Sass 
		link(rel="stylesheet", href="css/styles.css")
	body

		h1 Gulp+ Pug + Browser-Sync + SASS
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis cum eos nihil, doloremque rerum velit reprehenderit earum laborum facere doloribus commodi. Itaque voluptas cupiditate ad exercitationem molestias unde consequatur consectetur.

		h2 Probando esto 

		